.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-form {
    min-width: 300px;
    max-width: 400px;
}

.navbar {
    padding-bottom: 0px;
}

.toast {
    border-radius: 0px;
}