{% extends 'auth_base.html' %}
{% block title %}
  Scrapbook - Reset your password
{% endblock %}

{% block formTitle %}
  Reset your password
{% endblock %}

{% block content %}
  <p>Please enter your new password twice:</p>
  {% if validlink %}
    <form class="auth-form {% if form.errors %} was-validated {% endif %}" method="post">
      {% for field in form %}
        <div class="form-floating mb-3">
          <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" placeholder="{{ field.html_name }}" required />
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% if field.errors %}
            {% for error in field.errors %}
              <p class="invalid-feedback">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}

      {% csrf_token %}
      <button class="btn btn-primary w-100 py-2" type="submit" fdprocessedid="nm485a">Change My Password</button>
    </form>
  {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  {% endif %}
{% endblock %}
