{% extends 'base.html' %}
{% block title %}
  {{ image.title }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="row">
        <div class="col-md-4">
          {% load thumbnail %}
          <a href="{{ image.image.url }}"><img src="{% thumbnail image.image '300x0' %}" alt="{{ image.title }}" /></a>
        </div>
        <div class="col-md-8">
          <div class="card-title">
            <h1 class="image-title">{{ image.title }}</h1>
          </div>
          <p class="card-text">{{ image.description|linebreaks }}</p>
        </div>
      </div>
      {% with total_likes=image.users_like.count users_like=image.users_like.all %}
        <div class="row">
          <div class="col-12">
            <span class="badge rounded-pill bg-primary count">
              <span class="total">{{ total_likes }}</span>
              like{{ total_likes|pluralize }}
            </span>
            <span class="badge rounded-pill bg-primary count">
              <span class="total">{{ total_views }}</span>
              views{{ total_views|pluralize }}
            </span>
            <a href="#" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="btn btn-primary btn-sm like">
              {% if request.user not in users_like %}
                Like
              {% else %}
                Unlike
              {% endif %}
            </a>
          </div>
          <div class="col-12">
            <div class="list-group list-group-flush">
              {% for user in image.users_like.all %}
                <div class="list-group-item">
                  <div class="d-flex w-100 justify-content-between">
                    {% if user.profile.photo %}
                      <img src="{{ user.profile.photo.url }}" />
                      <p>{{ user.first_name }}</p>
                    {% endif %}
                  </div>
                </div>
              {% empty %}
                <div class="list-group-item">
                  <p class="mb-1">Nobody likes this image yet</p>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endwith %}
    </div>
  </div>
{% endblock %}

{% block domready %}
  const url = '{% url "images:like" %}';
  var options = {
    method: 'POST',
    headers: {'X-CSRFToken': csrftoken},
    mode: 'same-origin'
  }

  document.querySelector('a.like')
          .addEventListener('click', function(e){
    e.preventDefault();
    var likeButton = this;

    // add request body
    var formData = new FormData();
    formData.append('id', likeButton.dataset.id);
    formData.append('action', likeButton.dataset.action);
    options['body'] = formData;

    // send HTTP request
    fetch(url, options)
    .then(response => response.json())
    .then(data => {
      if (data['status'] === 'ok')
      {
        var previousAction = likeButton.dataset.action;

        // toggle button text and data-action
        var action = previousAction === 'like' ? 'unlike' : 'like';
        likeButton.dataset.action = action;
        likeButton.innerHTML = action;

        // update like count
        var likeCount = document.querySelector('span.count .total');
        var totalLikes = parseInt(likeCount.innerHTML);
        likeCount.innerHTML = previousAction === 'like' ? totalLikes + 1 : totalLikes - 1;
      }
    })
  });
{% endblock %}
