{% extends 'base.html' %}
{% block title %}
  Scrapbook - Edit Urser
{% endblock %}

{% block content %}
  <div class="container py-5">
    <form class="{% if user_form.errors or profile_form.errors %} was-validated {% endif %}" method="post" enctype="multipart/form-data">
      <div class="row">
        <div class="col-6 mx-auto">{{ user_form.as_div }} {{ profile_form.as_p }}</div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto">
          {% csrf_token %}
          <button class="btn btn-primary mb-3" type="submit">Save Changes</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
