{% extends 'auth_base.html' %}
{% block title %}
  Scrapbook - Register
{% endblock %}

{% block formTitle %}
  Register
{% endblock %}

{% block content %}
  <form class="auth-form {% if user_form.errors %} was-validated {% endif %}" method="post">
    {% for field in user_form %}
      <div class="form-floating mb-3">
        <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" placeholder="{{ field.html_name }}" required />
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.errors %}
          {% for error in field.errors %}
            <p class="invalid-feedback">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}

    {% csrf_token %}
    <button class="btn btn-primary w-100 py-2" type="submit" fdprocessedid="nm485a">Register</button>
  </form>
{% endblock %}
